body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 400px;
    max-width: 90%;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p {
    color: #666;
    margin: 10px 0;
}

img {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    /* 禁止图片被选中 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img:hover {
    transform: scale(1.05);
}

.instruction {
    color: #999;
    font-size: 0.9em;
    margin-top: 20px;
}

/* 禁止容器内文本被选中 */
.container {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}