<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi 二维码</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>连接 Wi-Fi</h1>
        <p>SSID: <strong>{{ ssid }}</strong></p>
        <p>密码: <strong>{{ password }}</strong></p>
        <img src="{{ url_for('serve_qrcode', filename=qr_filename) }}" alt="Wi-Fi 二维码">
        
        <!-- 设备提示信息 -->
        <p class="instruction" id="device-hint">加载中...</p>

        <!-- 添加按钮 -->
        <button id="connect-wifi-button">复制密码</button>
    </div>

    <div id="wifi-config" 
         data-ssid="{{ ssid }}" 
         data-password="{{ password }}"></div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
