<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wi-Fi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <!-- Wi-Fi 图标替换为图片 -->
        <div class="wifi-icon-container">
            <img src="{{ url_for('static', filename='img/wifi-icon.png') }}" alt="Wi-Fi 图标" class="wifi-icon">
        </div>

        <div class="wifi-info">
            <p><strong>WiFi 名称：</strong>{{ ssid }}</p>
            <p><strong>密码：</strong>{{ password }}</p>
        </div>

        <!-- 显示二维码 -->
        <div class="qrcode-container">
            <img src="{{ url_for('serve_qrcode', filename=qr_filename) }}" alt="Wi-Fi 二维码">
        </div>

        <!-- 提示信息 -->
        <p class="instruction" id="device-hint">加载中...</p>

        <!-- 操作按钮 -->
        <button id="connect-wifi-button">复制密码</button>

        <!-- 显示连接提示信息 -->
        <p id="connection-tip" style="display:none; color: green;"></p>
    </div>

    <div id="wifi-config" 
         data-ssid="{{ ssid }}" 
         data-password="{{ password }}"></div>

    <!-- Modal (Hidden by default) -->
    <div id="wifi-info-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Wi-Fi 连接信息</h2>
            <p><strong>Wi-Fi 名称：</strong><span id="wifi-ssid"></span></p>
            <p><strong>Wi-Fi 密码：</strong><span id="wifi-password"></span></p>
            <p>Wi-Fi 密码已复制, 请手动前往 Wi-Fi 设置页面连接 Wi-Fi。</p>
            <button id="modal-ok-btn">确定</button>
        </div>
    </div>


    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>
